{% extends 'baseTemplate.html' %}
{% block title %}Ajouter un comptage{% endblock %}
{% block nav %}{% endblock %}
{% block background %}{% load static %}{% static 'Poinca-GU.jpg' %}{% endblock %}
{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h2 class="panel-title">Ajouter un comptage à la base de données</h2>
				</div>
				<div class="panel-body">
					<form action="{% url 'census.views.addcount' %}" method="post">
					{% csrf_token %}
					{{ form.non_field_errors }}
					<div class="list-group">
						{% for field in form%}
						<div class="list-group-item">
    					{{ field.errors }}
    						<div style="overflow:auto">
    							<label for="{{ field.id_for_label }}">{{field.label}} :</label>
    							<span style='float:right'>{{ field }}</span>
    						</div>
						</div>
						{% endfor %}
					</div>
					<div style="text-align:center; margin-bottom:10px">
					<button type="submit" class="btn btn-primary">Compter !</button>
					</div>
					<p>Pour modifier un comptage déjà enregistré, contacte l'<a href="mailto:denis.merigoux@polytechnique.edu">administrateur du site</a>.</p>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}