{% extends 'baseTemplate.html' %}
{% block title %}Conseils de comptage{% endblock %}
{% block nav %}{% endblock %}
{% block background %}{% load static %}{% static 'Amphi_Poincare.jpg' %}{% endblock %}
{% block content %}
<div class="container-fluid">
	<div class="alert alert-info">
		<p>Grâce à son expérience, le LAPI a pu trouver les meilleures conditions pour compter le nombre d'élèves visibles en amphi. Suis les conseils ci-dessous pour un comptage optimal !</p>
	</div>
	<div class="row">
		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h2 class="panel-title">Combien faut-il être ?</h2>
				</div>
				<div class="panel-body">
					<p>Il est assez facile de compter un amphi tout seul, en environ 20 minutes.</p>
					<p>Pour plus de précision et moins de fatigue visuelle, le travail peut être divisé entre 2 ou 3 personnes, qui comptent chacun une partie de l'amphi et à la fin regroupent leur résultats.</p>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h2 class="panel-title">Comment se placer ?</h2>
				</div>
				<div class="panel-body">
					<p>Si tu es tout seul, la meilleure place est au milieu de l'amphi latéralement et aux trois-quarts du fond de l'amphi au profondeur. Ainsi tu n'auras pas beaucoup de rangées derrière toi (ce sont les plus difficiles à compter) sans être trop loin des rangées de devant qui sont difficiles à compter à cause de la confusion entre les rangées.</p>
					<p>Si vous êtes plusieurs, partagez vous l'espace en profondeur et non latéralement : encore une fois il est facile de tourner la tête à droite et à gauche mais plus difficile de se retourner pour compter derrière soi...</p>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h2 class="panel-title">Quand commencer ?</h2>
				</div>
				<div class="panel-body">
					<p>Afin de prendre en compte les retardataires, il est important de commencer le comptage 20 à 30 minutes après le début de l'amphi.</p>
				</div>
			</div>
		</div>
	</div>	
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h2 class="panel-title">Comment compter ?</h2>
				</div>
				<div class="panel-body">
					<p>La meilleure manière de compter est de procéder comme il suit :</p>
					<ul>
						<li>diviser l'amphi en trois zones latéralement : gauche, centre et droite ;</li>
						<li>diviser chaque rangée en trois tiers de rangées ;</li>
						<li>compter d'abord tous les tiers de rangées de la zone gauche, puis centre et droite ou dans n'importe quel ordre.</li>
					</ul>
					<p>À la fin, additionner tous les sous-totaux pour avoir le nombre total d'élèves visibles dans l'amphi.</p>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}