{% extends 'baseTemplate.html' %}
{% block title %}Accueil{% endblock %}
{% block nav %}{% endblock %}
{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-6">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h2 class="panel-title">Présentation</h2>
				</div>
				<div class="panel-body">
					<p>Bienvenue sur le site du <b>Laboratoire pour l'Acquisition Périphérique d'Informations !</b></p>
					<p>Tu t'ennuies en amphi ? Tu remarque que les rangs sont de plus en plus clairsemés et tu 
					aimerais savoir plus précisément <em>combien</em> de tes camarades de promotions choissisent
					la douceur de leur oreiller plutôt que la rudesse des bancs d'Arago ?</p>
					<p>Une seule solution : compter ! Suis <a href="{% url 'census.views.comptage' %}">les conseils du LAPI</a> pour un comptage réussi et inscris tes résultats sur le site pour une vision globale du taux d'invisibilité en amphi de ta promotion.</p>
				</div>
			</div>
			<div class="panel panel-success">
				<div class="panel-heading">
					<h2 class="panel-title">Dernier comptage enregistré</h2>
				</div>
				<div class="panel-body">
					{% if lastcount.lesson.course.name == "Amphis 0" %}
						<p>Comptage de l'amphi 0 de {{lastcount.lesson.title|lower}} des {{lastcount.lesson.course.promotion}}, donné le {{lastcount.lesson.date|date:"d/m/y"}} en amphi {{lastcount.lesson.amphi}} :</p>
					{% elif astcount.lesson.course.name == "Conférences scientifiques" %}
						<p>Comptage de la conférence scientifique de {{lastcount.lesson.title|lower}} des {{lastcount.lesson.course.promotion}}, donné le {{lastcount.lesson.date|date:"d/m/y"}} en amphi {{lastcount.lesson.amphi}} :</p>
					{% else %}
						<p>Comptage de l'amphi n°{{lastcount.lesson.number}} de {{lastcount.lesson.course.name}} des {{lastcount.lesson.course.promotion}}, donné le {{lastcount.lesson.date|date:"d/m/y"}} en amphi {{lastcount.lesson.amphi}} :</p>
					}
					{% endif %}
					<div class="progress">
 						<div class="progress-bar progress-bar-{{lastcount.progressbarclass}}" role="progressbar"
 							aria-valuenow="{{lastcount.ratio}}" aria-valuemin="0" aria-valuemax="100"
 							aria-valuenow="{{lastcount.ratio}}" aria-valuemin="0" aria-valuemax="100"
 							style="width: {{lastcount.ratio}}%;">
    						{{lastcount.census}}/{{lastcount.lesson.course.enrolled}} ({{lastcount.ratio}}%)
  						</div>
  					</div>
  					<p>{{lastcount.comment}}</p>
  					<p style="text-align:right;font-style:italic">{{lastcount.signature}}</p>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h2 class="panel-title">Liste des cours</h2>
				</div>
				<div class="panel-body">
					<p>Le pourcentage est le taux de visibilité du cours, le ratio correspond au nombre de cours comptés.
					<ul class="list-group">
						{% for course in courses %}
							<a class="list-group-item" href="{% url 'census.views.cours' id_cours=course.id %}">{{course.name}}
							{% if course.promotion.number|divisibleby:2 %}
								(<span style='color:#D62222'>X{{course.promotion.number}}</span>)
							{% else %}
								(<span style='color:#F2E52E'>X{{course.promotion.number}}</span>)
							{% endif %}
							<span class="badge">{{course.nonnulllessonscount}} / {{course.lessonscount}}</span>
							<span class="badge">{{course.totalratio}} %</span>
							</a>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}